
.sendbuttonbox {
    width: 20%;
    height: 100%;
    cursor: pointer;
    .button {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(-135deg, #D53F3F 0%, #AB3232 100%);
        box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        font-family : 'Avenir';
        cursor: pointer;
        .send{
          text-align: center;
          padding-top: 30px;
          font-weight: bolder;
          font-size: 20px;
          color: white;
        }
    }
}
